<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108089587719-502nro7jsd2868r1cirdsbg63n7i4c95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108089587719-502nro7jsd2868r1cirdsbg63n7i4c95</string>
	<key>API_KEY</key>
	<string>AIzaSyClQ57fFoULXIlg3_h7BIy38ngy5g7-U5E</string>
	<key>GCM_SENDER_ID</key>
	<string>108089587719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubrik.employee</string>
	<key>PROJECT_ID</key>
	<string>rubrikcab</string>
	<key>STORAGE_BUCKET</key>
	<string>rubrikcab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108089587719:ios:9a56d50e10d06cd185d2a2</string>
	<key>DATABASE_URL</key>
	<string>https://rubrikcab.firebaseio.com</string>
</dict>
</plist>